export(findBreakPoints, genomePlot, plotSegmentedGenome, processCGH, runBioHMM, runGLAD, runTilingArray, compareSegmentations, zoomChromosome, zoomGenome,read.clonesinfo,runHomHMM,mergeStates,runDNAcopy,simulateData,dim.SegList,length.SegList,dimnames.SegList,cbind.SegList,rbind.SegList)
exportClasses(SegList)
